<div class="header">
    <div class="logo">
        <span>ZenduForms</span>
    </div>
    <div class="menu">
        <div class="menu-item" routerLinkActive="active-tab">
            <img src="assets\images\form_icon.svg">
            <span>Forms</span>
        </div>
        <div class="menu-item" routerLinkActive="active-tab">
            <img src="assets\images\customer_icon.svg">
            <span>Customers</span>
        </div>
        <div class="menu-item" routerLink="submissions" routerLinkActive="active-tab">
            <img src="assets\images\submission_icon.svg"/>
            <span>Submissions</span>
        </div>
        <div class="menu-item" routerLinkActive="active-tab">
            <img src="assets\images\history_icon.svg">
            <span>History</span>
        </div>
        <div class="menu-item" routerLinkActive="active-tab">
            <img src="assets\images\report_icon.svg">
            <span>Reports</span>
        </div>
        <div class="menu-item" routerLinkActive="active-tab">
            <img src="assets\images\report_icon.svg">
            <span>WorkFlow</span>
        </div>
    </div>

    <div class="right-box">
        <img src="assets\images\notification_icon.svg" alt="">
        <img src="assets\images\logout_icon.svg" alt="">
    </div>
</div>>
